* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url(./img/bg-desktop.svg);
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
}

.logo {
  height: 40px;
  margin-top: 50px;
  margin-left: 50px;
}

.left {
  height: 500px;
  margin: 50px;
}

.left img {
  display: block;
  max-width: 95%;
  max-height: 90%;
}

.flex {
  display: flex;
  justify-content: center;
}

.right {
  color: #fff;
  max-width: 400px;
  transform: translateY(88px);
}

.right p {
  margin-top: 20px;
  margin-right: 20px;
  line-height: 22px;
  font-size: 13px;
}

.right button {
  padding: 11px;
  width: 120px;
  border-radius: 10px;
  border: none;
  color: hsl(257, 40%, 49%);
  margin-top: 20px;
}

.social-links {
  margin-right: 90px;
  display: flex;
  justify-content: flex-end;
}

.fa {
  color: white;
  padding: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
}

@media (max-width: 500px) {
  .logo {
    height: 40px;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .flex {
    display: flex;
    flex-direction: column;
  }

  .left {
    height: auto;
    margin: 0px 0px 50px 0px;
  }

  .left img {
    margin: 0 auto;
    display: block;
  }

  .right {
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
    width: 100%;
    transform: translateY(0px);
    text-align: center;
  }

  .right h1 {
    font-size: 25px;
    font-weight: 600;
  }

  .right p {
    line-height: 22px;
    font-size: 18px;
  }

  .right button {
    padding: 11px;
    width: 120px;
    border-radius: 10px;
    border: none;
    color: hsl(257, 40%, 49%);
  }

  .social-links {
    margin-top: 20px;
    text-align: center;
    /* transform: translateX(50px); */
  }
}
